@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&family=Space+Mono&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-titles: "Space Mono", monospace;
  --font-main: "Bitter", serif;

  --color-main: rgb(191, 191, 191);
  --gap-size: 1em;
}
/* modifier classes */
.hidden {
  visibility: hidden;
}
/* general */
body {
  background-color: var(--color-main);
  font-size: 62.5%;
  font-family: var(--font-main);
}
img {
  display: block;
  object-fit: cover;
}

h1 {
  font-family: var(--font-titles);
  font-size: 2rem;
}
h2 {
  font-family: var(--font-titles);
  font-size: 1.5rem;
  text-transform: uppercase;
}
h4 {
  font-family: var(--font-titles);
  font-size: 1.25rem;
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.drinkcontainer {
  width: 70vw;
  padding: 6em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  z-index: 0;
}
.drinkimage {
  flex: 1;
  height: 250px;
  border-radius: 5px;
  border: 1px solid black;
}
.drinkdata {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.drinkcategory {
  color: rgba(0, 0, 0, 0.673);
}
.drinkingredients {
  list-style: none;
}
.drinkingredients li:not(li:last-child) {
  margin-bottom: 0.5em;
}
.returnbutton {
  align-self: flex-start;
  text-decoration: none;
  padding: 1em 2em;
  background-color: rgb(74, 126, 228);
  color: white;
  text-transform: uppercase;
}

.bodyloader {
  background-color: rgba(0, 0, 0, 0.838);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  color: white;
  display: grid;
  place-content: center;
}
